node_modules/
main.js
.DS_Store
.vscode/
.idea/
test-vault/
.obsidian/
coverage/
npm-debug.log
yarn-error.log

# Plugin settings written by Obsidian when the repo is linked into a vault (contains tokens)
data.json
